* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: "Poppins", serif;
  color: var(--color-secondary);
  line-height: 1.5;
  background-color: #f7f5fa;
}
:root {
  --color-primary: #248888;
  --color-secondary: #1a064f;
  --color-red: #e7475e;
  --custom-white: #eeeeee;
}
::selection {
  color: var(--custom-white);
  background: var(--color-primary);
}
.container {
  margin: 0 auto;
  padding: 1.5rem;
}
/* colors */
.red {
  color: var(--color-red);
}
.btn-primary {
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 2rem 0;
  transition: 0.3s ease, transform 0.2s ease;
}
.btn-primary:hover {
  background-color: #1b6666;
}

/* instructors */

.accordion {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  gap: 16px;
  transition: 0.3s;
}
.accordion li {
  position: relative;
  overflow: hidden;
  flex-basis: 180px;
  border-radius: 50px;
  opacity: 0.8;
  cursor: pointer;
}

.accordion li img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accordion li,
.accordion li img,
.accordion li .content,
.accordion li .content span {
  transition: 0.3s;
}
.accordion h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  white-space: nowrap;
}
.accordion li .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: white;
  padding: 15px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  visibility: hidden;
}
.accordion:hover {
  gap: 16px;
}
.accordion li .content span {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 50px;
  translate: -50%;
  scale: 0.85;
  visibility: hidden;
  opacity: 0;
}
.accordion li:hover {
  flex: 0 1 260px;
  scale: 1;
  z-index: 10;
  opacity: 1;
}

.accordion li:hover .content {
  opacity: 1;
  visibility: visible;
}
.accordion li:hover span {
  scale: 1;
  opacity: 1;
  visibility: visible;
}

/* media */
@media screen and (max-width: 1280px) {
  .accordion li {
    flex-basis: 110px;
  }
}
@media screen and (max-width: 1024px) {
  .accordion li {
    flex-basis: 80px;
  }
}

@media screen and (max-width: 640px) {
  .accordion {
    height: fit-content;
    flex-direction: column;
    gap: 16px;
  }
  .accordion li img {
    position: unset;
    translate: unset;
    height: auto;
  }
  .accordion li {
    flex-basis: 300px;
  }
  .accordion li .content,
  .accordion li .content span,
  .accordion li {
    opacity: 1;
    visibility: visible;
  }
  .accordion li .content span {
    bottom: 20px;
    border: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .accordion li img {
    height: 100%;
  }
}
/* parallex */
.parallax-container {
  background-image: url("../images/subscribe/parallex.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative; /* Ensures overlay works correctly */
  overflow: hidden;
}

/* Dark Mask Overlay */
.parallax-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Mask color */
  opacity: 0.5; /* Adjust darkness */
  z-index: 1;
}
/* footer */
footer ul li:hover a {
  transition: 0.3s;
}
